.general__quiz__welcome {
   display: flex;
   gap: 16px;
   flex-direction: column;
   width: 100%;
   align-items: center;
   img {
      border-radius: 12px;
   }
   .passing_grade_view {
      display: flex;
      justify-content: space-between;
   }
   .block__upload__with__media__content .upload__view {
      max-height: 315px;
   }
   &__header {
      display: flex;
      gap: 16px;
      align-items: center;
   }
   &__title {
      display: flex;
      flex: 1;
      justify-content: space-between;
      background: #F8FAFA;
      border: 1px solid #E7E9E9;
      border-radius: 12px;
      padding: 10px 12px;
      box-sizing: border-box;
      align-items: center;
      >div {
         display: flex;
         gap: 8px;
         align-items: center;

      }
   }
   &__settings {
      display: flex;
      gap: 6px;
      align-items: center;
      cursor: pointer;
      >div {
         display: flex;
         align-items: center;
      }
   }
   &__content {
      padding: 56px 16px;
      gap: 16px;
      flex-direction: column;
      display: flex;
      width: 100%;
      min-height: 582px;
      border: 1px solid #E7E9E9;
      border-radius: 12px;
      background: #fff;
      align-items: center;
      &__wrapper {
         max-width: 650px;
         width: 100%;
         gap: 16px;
         flex-direction: column;
         display: flex;
      }
      &__img {
         margin-bottom: 8px;
      }
   }
   &__contentRigth {
        border-radius: 12px;
        padding: 20px 0px;
        gap: 20px;
        flex-direction: column;
        display: flex;
        max-width: 562px;
        width: 100%;
        &__img {
           margin-bottom: 8px;
           padding: 0 16px;
        }
        &__grade {
         flex-direction: column;
         display: flex;
         gap: 16px;
         padding: 0 16px;
        }
     }
   .grey__line {
      height: 1px;
      background: #E7E9E9;
      width: 100%;
   }
}
