.affiliate__settings{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left{
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}