.media__library__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 0px;
    gap: 12px;
    min-width: 360px;
    gap: 12px;
    border-right:  1px solid #E7E9E9;

    &__top{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    &__folders{
        display: flex;
        gap: 9px;
        flex-direction: column;
    }
    &__folders{
        width: 100%;
    }

    @media screen and (max-width: 1024px) {
        padding: 12px;
        position: absolute;
        width: 100%;
        background-color: #FFFFFF;
        z-index: 2;
        border-radius: 12px;
        border: none;
        transition: .3s ease-in;
        min-width: auto;

        &.opened {
            // left: 100vw;
            left: 0;
        }
        &.closed {
            left: -100vw;
            .media__library__left__top__switcher {
                right: -62px;
            }
        }

        &__top{
            position: relative;
            padding-right: 32px;
            
            &__switcher {
                position: absolute;
                right: -25px;
                top: 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #E7E9E9;
                border-radius: 100%;
                cursor: pointer;
                background-color: #FFFFFF;
            }
        }
    }
}