.popupWrapper {
   border-radius: 8px;
   background-color: #ffffff;
   position: relative;
   width: 100%;

   .closeIcon {
      position: absolute;
      top: 24px;
      right: 24px;

      &:hover {
         cursor: pointer;
      }
   }
}

.popupWithShadow {
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
