.personal{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    &__background{
        background: linear-gradient(91.13deg, #0A202B 15.71%, #CBD0D4 100%);
        border-radius: 12px 12px 0px 0px;
        height: 80px;
        width: 100%;
    }
    &__content{
        margin-top: -33px;
        padding: 0px 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__top{
            display: flex;
            gap: 16px;
            align-items: center;
        }
    }
    .image {
        position: relative;
        width: max-content;
        img {
           width: 64px;
           height: 64px;
           border-radius: 12px;
           object-fit: cover;
        }
     }
     .image__edit {
        position: absolute;
        bottom: 0px;
        display: flex;
        border-radius: 0px 0px 12px 12px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        width: 100%;
        background: rgba(19, 31, 30, 0.4);
     }
     .image__edit__cancel{
        position: absolute;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        top: 4px;
        right: 4px;
        button{
           width: 16px;
           border-radius: 4.57143px;
           background: rgba(19, 31, 30, 0.4);
           height: 16px;
           border: 0.571429px solid #FFFFFF;
           padding: 1px;
        }
     }
}