.community__messenger__right__empty{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 58px;
    span{
        text-align: center;
    }
}