.buttonEditable {
   .colorInput  {
      .colorInput__wrapper {
         margin-top: 0;
      }
   }
   .buttonEditable-blanked {
      svg {
         width: 20px;
         height: 20px;
      }
   }
}
