.accountInputEdit {
   position: relative;
    .morevertical {
       svg {
         position: absolute;
         right: 10px;
         top: -30px;
         cursor: pointer;
       }
    }
    .editPopup {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      width: 210px;
      z-index: 9999;
      margin-left: 18px;
      box-sizing: border-box;
      position: absolute;
      background: #fff;
      right: 14px;
      top: -6px;
      >div {
         &:hover {
            background-color: rgba(124, 183, 64, 0.05);
            cursor: pointer;
            span {
               color: #7cb740 !important;
            }
            svg {
               path {
                  &:last-child {
                     fill: #7cb740;
                  }
               }
            }
         }
         display: flex;
         align-items: center;
         padding: 13px 23px 13px 24px;
         a {
            display: flex;
            align-items: center;
            text-decoration: none;
         }
        svg {
         padding-right: 12px;
        }
      }

    }
}

// @media screen and (max-width: 1280px) {
//    .accountInputEdit {
//        .editPopup {
//          width: 158px;
//        }
//    }
// }
