.webHookEmptyMain{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 154px;
 .webHookEmptyMainLogo{
  height: 64px;
  width: 64px;
  margin-bottom: 36px;
 }
 .webHookEmptyMainTitleBelow{
    max-width: 448px;
    margin-bottom: 24px;
    margin-top: 8px;
 }
 .webhook-btns {
    display: flex;
    @media screen and (max-width: 720px) {
       flex-direction: column;
       div {
          margin: 8px 16px;
       }
    }
 }
}
