.automation__item {
   &:last-child {
      .automation_table_content {
         border-bottom: none;
      }
     }
   .automation_table_content{
      border-bottom: 1px solid #edeff2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;

      >div {
         flex: 1;
         &:first-child {
            span {
               padding-right: 5px;
            }
         }
      }

      .switch {
         width: 48px;
         height: 24px;
     }

     .switch .slider:before {
      height: 21px;
      width: 21px;
      bottom: 1px;
  }

      .actions {
       display: flex;
       align-items: center;
       width: 70px;
       flex: none;
       svg {
          cursor: pointer;
       }
         button {
            border-radius: 4px;
         }
         .edit {
            margin-right: 16px;
         }
         .delete {
            margin-right: 24px;
         }
      }
    }
}

//   .mediaLibrary__item__name{
//     flex: 1;
//     display: flex;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     .mediaLibrary__item__name_title{
//       display: flex;
//       flex-direction: column;
//       margin-left: 14px;
//       color: #333333;
//       justify-content: center;
//     }
//     .mediaLibrary__item__name__mob  {
//       display: flex;
//       flex-direction: column;
//       margin-left: 14px;
//       color: #333333;
//       justify-content: center;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }
//     span {
//       word-break: break-all;
//       margin-right: 4px;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       padding-right: 2px;
//     }
//   }
//   .mediaLibrary__item__date{
//     flex: 2;
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     color: #333333;
//   }

//   .mediaLibrary__item__date__mob {
//    display: none;
//   }
//   .mediaLibrary__item__actions{
//     display: flex;
//     position: relative;
//   }
//   .mediaLibrary__item__action{
//     border: none;
//     background: none;
//     margin-right: 16px;
//     padding: 0;
//     :hover{
//       cursor: pointer;
//       background: none;
//     }
//     &:focus{
//       border: none;
//       outline: none;
//     }
//   }
//   .mediaLibrary__item__action.delete__hint{
//     .delete__hint_msg{
//       opacity: 0;
//       transition:.3s;
//       background-color: #e1e0e0;
//       position: absolute;
//       top: 0px;
//       right: 40px;
//       color: rgb(63, 79, 101);
//       padding: 4px 8px;
//       display: none;
//       z-index: 3;
//       white-space: nowrap;
//     }
//     &:hover .delete__hint_msg{
//       opacity: 1;
//       display: block;
//     }
//   }
//   .dotes__mob {
//      display: none;
//   }
// }

@media screen and (max-width: 1023px) {
   .mediaLibrary__item{
      padding: 12px 40px 12px 16px;
      .mediaLibrary__item__date {
        display: none;
      }
      .mediaLibrary__item__date__mob {
         display: flex;
         flex-direction: column;
         margin-left: 14px;
         color: #333333;
         justify-content: center;
         margin-top: 4px;
       }
       .mediaLibrary__item__name  {
         width: 100%;
         padding-right: 16px;
         box-sizing: border-box;
         .mediaLibrary__item__name__mob {
            margin-left: 0;
            flex: 1;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

         }
         span {
            margin-right: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
         svg {
            min-width: 48px;
         }
     }
     .dotes__mob {
        display: block;
        cursor: pointer;
        top: -20px;
        right: 0px;
        position: absolute;
     }
     .mediaLibrary__item__action__mob {
         display: flex;
         position: absolute;
         top: -20px;
         right: 27px;
         box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
         z-index: 1;
         padding: 7px 0px 3px 16px;
         box-sizing: border-box;
         background: white;
         border-radius: 4px;
     }
     .mediaLibrary__item__action.delete__hint{
      .delete__hint_msg{
        white-space: normal;
      }
    }
   }
}

