.communityProducts__items {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    margin: 24px 0;
    width: 100%;
    .course__card {
        max-width: 437px;
        width: 100%;
        border-radius: 4px;
        background-color: #fff;
        .image__bottom__wrapper {
            .checkBox__isNotChecked {
                opacity: 0;
            }
        }
        &:hover {
            .image__bottom__wrapper {
                .checkBox {
                    opacity: 1;
                }
            }
        }
        .top__wrapper {
            width: 100%;
            height: 203px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 8px 8px 12px 8px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 4px 4px 0 0;
            .status__wrapper {
                padding: 8px;
                border-radius: 8px;

                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: #ac890a;
                }
            }

            .image__bottom__wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                width: 100%;

                .purchased__course__lessons__count {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    background-color: #131F1EB2;
                    opacity: 0.5;
                    padding: 8px;
                    border-radius: 8px;

                    span {
                        font-size: 10px;
                        color: #fff;
                        font-weight: 500;
                    }
                }

                .progress__bar {
                    width: 100%;
                    height: 8px;
                    background-color: #E8F2F1;
                    border-radius: 100px;

                    .inner__progress__bar {
                        background-color: #24554E;
                        border-radius: 100px;
                        height: 8px;
                    }
                }
            }
        }

        .bottom__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 8px 12px;
            gap: 12px;

            .course__name__wrapper {
                span {
                    font-size: 18px;
                    font-weight: 700;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 410px;
                    display: block;
                }
            }

            .widget {
                background: #f1f6ff;
                padding: 6px;
                border-radius: 8px;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: #3060bd;
                }
            }
             .widget_membership {
                background: #E8F2F1;
                padding: 6px;
                border-radius: 8px;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: #24554E;
                }
             }

            .description__wrapper {
                height: 47px;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.7;
                    color: #727978;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;    
                }
            }

            .button__wrapper {
                width: 100%;

                button {
                    width: 100%;
                }
            }
        }
    }
}