.thankyou__template2__right {
    width: 50%;
    max-width: 540px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media all and (max-width: 1023px) {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        min-height: 520px;
    }
}
