.studentCertifacte{
   display: flex;
   flex-wrap: wrap;
   padding-left: 5px;
   .studentCertifacteRectangle{
      background-color: #ffffff;
      width: 264px;
      padding-bottom: 25px;
      border-radius: 4px;
      margin-right: 30px;
      margin-bottom: 25px;
      box-shadow: 0 2px 14px 0 rgba(63, 79, 101, 0.14);
      span {
         font-family: var(--school-font);
      }
   }

}
