.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e7e9e9;
    border-radius: 12px;
    padding: 10px 17px 15px 10px;
    height: 245px;
    cursor: pointer;
    width: 100%;

    .card__title {
        margin: 15px 0 9px 0;
    }

    .card__subtitle {
        width: 254px;
        margin-bottom: 21px;
    }
}