.certificates__filter {
   padding-top: 2px;
   display: flex;
   flex-direction: column;
   gap: 34px;
   &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__left {
         display: flex;
         align-items: center;
         gap: 16px;
      }
      .switch {
         position: relative;
      }
      &__actions {
         position: relative;
         padding-left: 16px;
         &::before {
            position: absolute;
            content: "";
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            height: 40px;
            background-color: rgba(19, 31, 30, 0.2);
            width: 1px;
         }
         display: flex;
         align-items: center;
         gap: 12px;
         &__delete {
            border: 1px solid #d12d36;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 4px;
            gap: 10px;
            cursor: pointer;
         }
      }

      &__wrapper {
         display: flex;
         flex-direction: column;
         gap: 12px;
      }
   }
   &__count {
      padding-right: 16px;
      position: relative;
      display: flex;
      gap: 12px;
      align-items: center;
      &::before {
         position: absolute;
         content: "";
         right: 0px;
         top: 50%;
         transform: translateY(-50%);
         height: 20px;
         background-color: rgba(19, 31, 30, 0.2);
         width: 1px;
      }
   }
}
