.class__progress__modules{
    margin-top: 32px;
    background: #FFFFFF;
    border: 1px solid #E7E9E9;
    border-radius: 12px;
    display: flex;
    >div {
       flex: 1;
       padding: 24px 24px 48px 24px;
    }
    &__left {
       border-right: 1px solid #E7E9E9;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        .counts{
            position: relative;
            span:last-child{
                position: absolute;
                right: 4;
                top: 0;
                color: #727978;
            }
        }
        .completed{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .module{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px;
            cursor: pointer;
            .left{
               display: flex;
               align-items: center;
               gap: 12px;
           }
           .right{
               display: flex;
               align-items: center;
               gap: 8px;
               width: 80%;
               span{
                   color: #24554E;
                   word-break: keep-all;
               }
               .progress__chart{
                   width: 100%;
               }
           }
            &__active {
               background-color: #36796F;
               border-radius: 12px;
               .left{
                  span {
                     color: #fff;
                  }
              }
              .right{
                  span{
                      color: #fff;
                  }
                  .progress__chart{
                      width: 100%;
                  }
              }
              .progress__chart__progress  {
                  background: rgba(255, 255, 255, 0.4);
                  div {
                  background: #fff;
                  }
              }
            }
        }
    }
}
