.blogHeaderCreate {
   display: flex;
   background: #FFFFFF;
   border: 1px solid #E7E9E9;
   border-radius: 12px;
   margin: 8px 0;
   &_left {
      max-width: 448px;
      border-right: 1px solid #E7E9E9;
      padding: 24px;
      flex:1;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .optional-text {
         display: flex;
         flex-wrap: wrap;
      }
      @media screen and (max-width: 1200px) {
         max-width: 300px
      }
   }
   &_right {
      flex: 1;
      padding: 24px;
      &_img {
         margin-top: 12px;
         position: relative;
         &_bottom {
            margin-bottom: 32px;
         }
         &_text {
            position: absolute;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            top: 0;
            bottom: 0;

         }
      }
      &_btn {
         display: flex;
         justify-content: flex-end;
      }
      img {
         max-width: 100%;
       }
      .blogCover img {
         width: 100%;
         object-fit: cover;
         max-height: 157px;
         border-radius: 12px 12px 0px 0px;
      }
   }

   @media screen and (max-width: 1024px) {
      flex-direction: column;
      border: none;
      gap: 16px;
      padding-bottom: 32px;

      &_left {
         width: 100%;
         max-width: none;
         border: none;
         padding: 0;
      }
      &_right {
         padding: 0;

         &_btn > button {
            width: 100%;
         }
      }
   }
}

