.advanced {
  .noIntegration {
     img {
      width: 250px;
     }
  }
  .emptyIntegration{
     margin-top: 7px;
     margin-bottom: 7px;
  }
  .connect {
     margin-top: 16px;
     button {
        border: solid 2px #006dff;
        background: #fff;
        width: 290px;
     }
  }
}

@media screen and (max-width: 540px) {
   .advanced {
      .noIntegration {
         text-align: center;
      }
      .connect {
         margin-top: 16px;
         text-align: center;
         button {
            width: 260px;
         }
      }
    }
}
