.transactionCard {
   padding: 24px 15.4px 66px 24px;
   .transactionCard__title {
      height: 48px;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
   }
   .transactionCard__form {
      border-bottom:  2px solid  rgba(198, 203, 212, 0.5);
      padding-bottom: 23px;
      margin-bottom: 22px;
   }
   .transactionCard__table {
      position: relative;
      .itemWrapper {
         box-shadow: none;
         border: none;
      }
      .btnWrapper {
         position: absolute;
         right: 0;
         bottom: 12px;
         button {
            width: 90px;
            min-width: 90px;
         }
      }
   }
}

