.community__trending__post{
   background: #FFFFFF;
   border: 1px solid #E7E9E9;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 8px 12px;
   gap: 8px;
   cursor: pointer;
   transition: 0.3s;
   &:hover{
      background: #E8F2F1;
   }
   &__general {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }
   &__top{
      display: flex;
      align-items: center;
      gap: 12px;
      img{
         width: 32px;
         height: 32px;
         object-fit: cover;
         border-radius: 8px;
      }
      &__left {

      }
   }
   &__line{
      background: #E7E9E9;
      width: 100%;
      height: 1px;
   }
   &__actions{
      display: flex;
      gap: 20px;
      align-items: center;
      width: 100%;
      justify-content: space-evenly;
      span{
         white-space: nowrap;
      }
      &__line{
         height: 24px;
         width: 1px;
         background-color: #E7E9E9;
      }
   }
   .community__cover{
      height: 74px;
      border-radius: 4px;
      width: 100%;
      object-fit: cover;
   }
}
