.lessonBookmarks {
   display: flex;
   flex-direction: column;
   gap: 24px;
   height: 100%;
   position: relative;
   .loading__SpinnerContainer {
      position: absolute;
     display: flex;
   }
   .bookmarkSinge {
      display: flex;
      justify-content: space-between;
      gap: 6px;
      &__delete {
         cursor: pointer;
      }
   }
   .bookmarkHeader {
      display: flex;
       align-items: center;
       justify-content: space-between;
   }
   &__empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 24px 0;
      text-align: center;
      height: 100%;
      justify-content: center;

      @media screen and (max-width: 1023px) {
         padding: 24px 0;
      }
   }

}


