
.access-page-wrapper {
  position: relative;
  background: rgba(244, 247, 247, 1);
  height: auto !important;

  .access-page-progress-bar {
    position: absolute;
    top: 70px;
    width: 60%;
    height: 4px;
    background: var(--primary-80-brand, #24554E);
  }

  .access-page-layout {
    padding-inline: 26px;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    background: white;
    gap: 8px;
  }
}

.checkbox-for-access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.checkbox-for-access-wrapper {
  width: 100%;
  display: flex;
  gap: 12px;
}

.line-through {
  color: #373635;
  margin: 0;
}

.offers-title {
  color: var(--grey-scale-40, #727978);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 168%; /* 23.52px */

  // @media only screen and (min-width: 2120px) {
  //   font-size: 24px;
  // }
}

.height-fixed {
  height: 200px !important;
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

.checkbox-right-side-text {
  color: var(--grey-scale-90, #131F1E);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  // @media only screen and (min-width: 2120px) {
  //   font-size: 18px;
  // }
}

.height-overflow {
  padding-bottom: 30px;
  height: auto !important;
}

.every-block-offer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 50px;

  // @media only screen and (min-width: 2120px) {
  //   height: 80px;
  // }
}

.offer_name {
  overflow: hidden;
  color: var(--grey-scale-90, #131F1E);
  font-variant-numeric: lining-nums tabular-nums;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 168%; /* 23.52px */

  // @media only screen and (min-width: 2120px) {
  //   font-size: 22px;
  // }
}

.thumbnail-image-offer {
  flex-shrink: 0;
  width: 88px;
  height: 50px;
  object-fit: cover;
  border-radius: 0.5rem;

  // @media only screen and (min-width: 2120px) {
  //   width: 120px;
  //   height: 70px;
  // }
}

.line-through-access-page {
  width: 1px;
  max-height: 412px;
  min-height: 312px;
  background: rgba(231, 233, 233, 1);

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.previous-and-step-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previous-step-button {
  cursor: pointer;
  height: 44px;
  margin-top: 40px;
  border-radius: 12px;
  gap: 8px;
  background: transparent;
  border: 1px solid rgba(36, 85, 78, 1);
  color: rgba(36, 85, 78, 1);
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;

  // @media only screen and (min-width: 2120px) {
  //   width: 180px;
  //   height: 60px;
  //   font-size: 20px;
  // }
}

.next-step-button {
  cursor: pointer;
  align-self: end;
  width: 94px;
  height: 44px;
  border: none;
  border-radius: 12px;
  gap: 8px;
  background: rgba(36, 85, 78, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  // @media only screen and (min-width: 2120px) {
  //   width: 180px;
  //   height: 60px;
  //   font-size: 20px;
  // }
}

.gap-8 {
  gap: 8px;
}
