.signUpCard {
   .buyCard__colorInput {
      padding-top: 5px;
      width: 100%;

      // .colorInput__picker {
      //    >div {
      //       background-color: #A9A8A8!important;
      //    }
      // }
   }

   #buyCard__content {
      padding-bottom: 24px;
   }
}