.site__popup__flex {
   display: flex;
   margin-top: 24px;
   flex-direction: column;
   gap: 24px;
   &__domain {
      display: flex;
      align-items: center;
      gap: 16px;
      align-items: center;
      span {
         white-space: nowrap;
         margin-top: 30px;
      }
      .site__popup__button {
         margin-top: 32px;
         cursor: pointer;
      }
   }
}
