.schoolroom__templates {
   display: flex;
   // padding-top: 34px;
   padding-bottom: 34px;
   flex-direction: column;
   gap: 32px;
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__bottom {
      display: flex;
      background: #ffffff;
      border-radius: 12px;
      &__left {
         border-right: 1px solid #e7e9e9;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 24px;
         gap: 32px;
         &__data{
            display: flex;
            flex-direction: column;
            gap: 16px;
            .item{
               border: 1px solid #E7E9E9;
               border-radius: 16px;
               box-sizing: border-box;
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               padding: 12px;
               gap: 12px;
               cursor: pointer;
               img{
                  width: 219px;
                  object-fit: cover;
                  height: 166px;
                  border-radius: 12px;
                  border: 1px solid #E7E9E9;
               }
               &__bottom{
                  display: flex;
                  align-items: center;
               }
               .checkbox__circle__check{
                  background-color: white;
               }
               .checkbox__circle__check__active{
                  background-color: white;
               }
            }
            .item_active{
               background: #24554E;
               border: none;
               img{
                  border: none;
               }
               .checkbox__circle__check__active{
                     background-color: inherit;
                     border-color: white;
                     span{
                        background-color: white;
                     }
               }
            }
         }
      }
      &__right{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 15px 24px 24px;
         gap: 20px;
         width: 100%;
         &__top{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .right__top__actions{
               display: flex;
               align-items: center;
               gap: 20px;
            }
         }
      }
   }

   @media screen and (max-width: 1024px) {

      margin-top: 20px;
      
      &__bottom {
         &__left {
            border: none;
            width: 100%;
            padding: 15px;

            &__top {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-between;

               &__actions {
                  display: flex;
                  align-items: center;
                  gap: 12px;
               }
            }

            &__data {
               width: 100%;

               .item {
                  img {
                     width: 100%;
                     height: auto;
                  }
               }
            }
         }
      }
   }

   .buttons__wrapper {
      display: flex;
      align-items: center;
   }
}
