.blog_content{
   padding: 24px 32px;
   .itemWrapper {
      padding: 24px 24px 0 24px;
   }
   .blog_table_header {
      display: flex;
      justify-content: space-between;
      div {
         flex: 1;
      }
      .headerActions {
         width: 188px;
         flex: none;
      }
      .headerTitle {
         flex: 1.5;
      }
   }

 }

 @media screen and (max-width: 1023px) {
   .blog_content {
      position: relative;
      top: 68px;
      .blog_content_table {
         overflow: auto;
        // max-height: 37vh;
         .itemWrapper {
            min-width: 700px;
         }
      }
   }
}
