.customCodeModal_shadow {
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 20000;

   .customCodeModal {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: clamp(60vw, 1200px, 90vw);
      height: 60vh;
      background-color: #ffffff;
      padding: 16px;
      border-radius: 12px;
      box-shadow: 0 16px 16px -10px rgba(34, 47, 62, 0.15);

      .monaco-editor.focused {
         box-shadow: none;
      }
   }

   .customCodeModal_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
         font-size: 24px;
         margin: 0;
      }

      svg {
         width: 24px;
         height: 24px;
      }
   }

   .customCodeModal_editor {
      flex-grow: 1;

      textarea {
         width: 100%;
         height: 100%;
         resize: none;
      }
   }

   .customCodeModal_actions {
      display: flex;
      justify-content: flex-end;
      gap: 12px;

      .action_button {
         padding: 12px 20px;
         color: #ffffff;
         font-size: 16px;
         border-radius: 12px;
         border: none;
         cursor: pointer;

         &.cancel_button {
            background-color: #d12d36;
         }
         
         &.save_button {
            background-color: #24554e;
         }
      }
   }
}