.upsell__view__button{
    max-height: 44px;
    min-height: 44px;
    max-width: max-content;
    font-weight: 400;
    font-size: 14px;
    border-radius: 12px;
    min-width: min-content;
    font-family: "Inter";
}

.upsell__view__button__editor{
    background-color: inherit;
    border: 0px;
    min-width: min-content;    
    outline: none;
}