.duplicateCategroyItem__attach__modal {
   display: flex;
   min-width: 485px;
   max-width: 500px;
   gap: 24px;
   flex-direction: column;
   @media screen and (max-width: 1023px) {
      max-width: 100%;
      min-width: 300px;
   }
   &__empty {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      justify-content: center;
   }
   &__top{
     display: flex;
     flex-direction: column;
     gap: 4px;
    &__create {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: space-between;
    }
   }
   &__courses{
     display: flex;
     flex-direction: column;
     max-height: 300px;
     padding-right: 12px;
     overflow-y: auto;
     scrollbar-color: rgba(119, 119, 119, 0.3) rgb(226, 226, 226);
     scrollbar-width: thin;
     box-sizing: border-box;
     &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
     }

     &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: transparent;
     }

     &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        box-shadow: inset 0 0 6px rgba(119, 119, 119, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(119, 119, 119, 0.3);
        background-color: rgb(226, 226, 226);
     }
   }
   &__course{
     display: flex;
     align-items: center;
     gap: 16px;
     padding: 11.5px 0px;
     &__image{
       width: 88px;
       height: 50px;
       img{
         object-fit: cover;
         width: 100%;
         height: 100%;
       }
     }
   }
   &__bottom{
     display: flex;
     align-items: center;
     justify-content: flex-end;
     gap: 16px;
     margin-top: 12px;
     @media screen and (max-width: 1023px) {
      flex-direction: column;
      width: 100%;
      flex-direction: column-reverse;
      button {
         width: 100%;
      }
     }
   }
 }


 .duplicateCategroyItem__attach__modal  {
   .duplicateCategroyItem__attach__search {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .duplicateCategroyItem__modal__top__create {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
 }


 .duplicateCategroyItem__rigth {
   border: 1px solid #E7E9E9;
   border-radius: 16px;
   padding: 8px 12px;
   width: 100%;
 }
