.affiliatesCard {
   padding: 24px 24px 32px 24px;

   .affiliatesCard__title {
      height: 48px;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
   }

   .affiliatesCard__commissions {
      display: flex;
      margin-bottom: 24px;
      max-width: 770px;

      .itemWrapper {
         flex: 1 1;
      }
   }

   .affiliate__signup {
      max-width: 544px;
   }
}
