.trix-custom-editor-innerEditor{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #E7E9E9;
    box-shadow: 0px 0px 6px rgba(19, 31, 30, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    z-index: 9999;
    &-button{
        cursor: pointer;
        padding: 8px;
        height: 100%;
        svg{
            width: 24px;
            height: 24px;
        }
    }
    &-button-active{
        background: #E8F2F1;
    }
    &-link{
        display: flex;
        align-items: center;
        gap: 13px;
        padding:4px 8px;
    }
    &-fontSize{
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 20px;
        &-arrows{
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &-arrowDown{
            cursor: pointer;
        }
        &-arrowUp{
            cursor: pointer;
        }
    }
}