.coupon__mobile__item {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;

    &__wrapper {
        border-radius: 12px;
        border: 1px solid #F0F2F2;
        width: 100%;

        & > div {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &:first-child {
                padding: 12px;
                span {
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;
                }
            }

            &:not(:first-child) {
                padding: 8px 12px;
                border-top: 1px solid #F0F2F2;

                & > span:first-child {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 12px;

        & > div {
            display: flex;
            align-items: center;
        }
    }
}