.reports-header{
   display: flex;
   align-items: center;
   margin-bottom: 32px;
   justify-content: space-between;
   margin-top: 32px;
   &-right{
      display: flex;
      align-items: center;
      gap: 12px;
      &-button{
         background: #FFFFFF;
         border: 1px solid #E7E9E9;
         border-radius: 12px;
         padding: 8px 12px;
         cursor: pointer;
         display: flex;
         align-items: center;
         gap: 9px;
      }
   }
}
