.section__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    @media screen and (max-width: 1023px) {
      span {
         text-align: center;
      }
      button {
         width: 100%;
      }
   }
}
