.online__creation {
    max-width: 1200px;
    margin: 0px auto;
    .text_area_new {
      padding-right: 45px;
   }
    @media screen and (max-width: 1300px) {
        padding: 0px 64px;
    }
    .uploadImg_medium{
        width: 100%;
        .upload__view{
            max-height: 295px;
        }
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0 16px 32px;

        .course__createtion__form {
            flex-direction: column-reverse;

            &__right {
                display: flex !important;
                justify-content: center;
                & > img {
                    width: 100%;
                    max-width: 420px;
                }
            }
        }
    }
}
