.lesson__quiz__ending {
   display: flex;
   gap: 16px;
   flex-direction: column;
   width: 100%;
   position: relative;
   .loading__SpinnerContainer {
      position: absolute;
   }
   img {
      border-radius: 12px;
   }
   .block__upload__with__media__content .upload__view {
      max-height: 315px;
   }
   &__header {
      display: flex;
      gap: 16px;
      align-items: center;
   }
   &__title {
      display: flex;
      flex: 1;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
      >div {
         display: flex;
         gap: 8px;
         align-items: center;
      }
   }
   &__settings {
      display: flex;
      gap: 6px;
      align-items: center;
      cursor: pointer;
      >div {
         display: flex;
         align-items: center;
      }
   }
   &__content {
      gap: 16px;
      flex-direction: column;
      display: flex;
      width: 100%;
      align-items: center;
      &__box {
         background: #FFFFFF;
       //  border: 1px solid #E7E9E9;
        // border-radius: 12px;
        // min-height: 504px;
        // padding: 56px 16px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         &__wrapper {
            max-width: 700px;
            flex-direction: column;
            display: flex;
            width: 100%;
            gap: 24px;
            >div {
               display: flex;
               justify-content: space-between;
               &:first-child {
                  justify-content: center;
               }
            }
         }
      }
      &__img {
         margin-bottom: 8px;
      }
   }
   &__contentRigth {
      border-radius: 12px;
      padding: 20px 16px;
      gap: 16px;
      flex-direction: column;
      display: flex;
      max-width: 562px;
      width: 100%;
      &__img {
         margin-bottom: 8px;
      }
   }
   .grey__line {
      height: 1px;
      background: #E7E9E9;
      width: 100%;
   }
   .quiz_result {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;

      >div {
         display: flex;
         flex-direction: column;
         gap: 4px;
         background-color:  #E8F2F1;
         align-items: center;
         justify-content: center;
         padding: 8px;
         border-radius: 8px;
         min-width: 60px;
      }
   }
}
