.plan__template {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 16px;
   background: #ffffff;
   border: 1px solid #e7e9e9;
   border-radius: 12px;
   width: 32%;
   .btnBasic_theme_secondary_disabled{
      background-color: inherit;
      color: #727978;
      border-color: #727978;
   }
   .btnBasic_theme_primary_disabled{
      background-color: inherit;
      color: #727978;
      border-color: #727978;
   }
   @media screen and (max-width: 1400px) {
      width: 48%;
      margin: 0px auto;
   }
   @media screen and (max-width: 1200px) {
      width: 100%;
      margin: 0px auto;
   }
   &__top {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 4px;
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      &__title {
         padding: 24px;
         padding-bottom: 0px;
      }
      &__current {
         position: absolute;
         right: 0;
         background: rgba(19, 31, 30, 0.80);
         border-radius: 0px 0px 0px 8px;
         top: 0;
         padding: 5px 8px;
      }
   }
   &__middle {
      padding: 0px 24px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      height: 100%;
      margin-bottom: 24px;
      &__functions {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 16px;
         &__item {
            display: flex;
            align-items: center;
            gap: 9px;
            .circle {
               width: 12px;
               height: 12px;
               border-radius: 4px;
               border: 1px solid #A1A5A5;
            }
         }
         &__item__Essential {
            .circle {
               background: #2585EB;
            }
         }
         &__item__Surge {
            .circle {
               background: #9747FF;
            }
         }
         &__item__Infinite {
            .circle {
               background: #DA47FF;
            }
         }
      }
   }
   &__top__Essential {
      background-image: url('~assets/images/plan/plan_essential_decor.png');
      background-color: #2585EB;
      background-repeat: no-repeat;
      background-position: bottom left;
     // background: #fff1f1;
      .plan__template__top__title {
         color: #fff;
      }
   }
   &__top__Surge {
     // background: #defbe6;
      background-image: url('~assets/images/plan/plan_surge_decor.png');
      background-color: rgba(151, 71, 255, 1);
      background-repeat: no-repeat;
      background-position: bottom left;
      .plan__template__top__title {
         color: #fff;
      }
   }
   &__top__Infinite {
     // background: #fff6d7;
      background-image: url('~assets/images/plan/plan_infinite_decor.png');
      background-color: #DA47FF;
      background-repeat: no-repeat;
      background-position: bottom left;
      .plan__template__top__title {
         color: #fff;
      }
   }
   .plan__template__top__price {
      display: flex;
      align-items: center;
      padding-left: 24px;
      span {
         color: #fff;
      }
   }
   .plan__template__top__price_yearly {
      padding-top: 4px;
      display: flex;
      align-items: center;
      padding-left: 24px;
      padding-bottom: 21px;
      display: flex;
      gap: 4px;
      span {
         color: #fff;
      }
   }
}
