.courseCommissions__container {
   .mob-courseSelect {
      display: none;
   }
   .courseCommission__row{
      display: flex;
      width: 100%;
      align-items: center;

      .courseCommission__item {
         flex: 1 1;
         max-width: 264px;
         margin-right: 24px;

         &:last-of-type {
            margin: 0;
         }

         input {
            padding: 7px 16px !important;
         }

         button {
            height: 40px !important;
         }

         .itemWrapper {
            height: 100%;
         }
      }
   }
}

@media screen and (max-width: 1268px) {
   .courseCommissions__container {
      .courseCommission__row:last-of-type {
         flex-wrap: wrap;
         .courseCommission__item {
            flex: none;
            width: calc(50% - 24px);
            max-width: none;
            &:nth-of-type(even) {
               width: 50%;
               margin-right: 0;
            }
            margin-bottom: 16px;
         }
      }
   }
}

@media screen and (max-width: 1023px) {
   .courseCommissions__container {
      .mob-courseSelect {
         display: flex;
         margin-bottom: 20px;
      }
      .courseCommission__row {
         flex-direction: column;

         .courseCommission__item {
            width: 100%;
            max-width: none;
            margin-bottom: 8px;
            margin-right: 0;

            input {
               padding: 11px 16px !important;
            }

            button {
               height: 48px !important;
            }

            .SelectElement-basic {
               padding: 11px 16px 11px 35px !important;
            }
         }
      }

      .courseCommission__row:last-of-type {
         .courseCommission__item {
            width: 100%!important;
            max-width: none;
         }
      }
   }
}
