.room__members__list.room__members__list__square{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 16px;
}

.member__item__square{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #E7E9E9;
    border-radius: 12px;
    flex-direction: column;
    &__left{
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        &__image{
            position: relative;
            img{
                width: 260px;
                height: 260px;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
            &__status{
                position: absolute;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 10px;
                position: absolute;
                width: 12px;
                height: 12px;
                right: 0px;
                bottom: 0px;
                background: #36796F;
                border: 2px solid rgba(255, 255, 255, 0.8);
                border-radius: 60px;
            }
        }
    }    
    .delete__modal__content{
        max-width: 414px;
    }
  
    &__right{
        .drop__triggle__icon{
            padding: 6px;
            border-radius: 8px;
            border: 1px;
        }
        .drop__triggle__icon__active{
            svg{
                path{
                    fill: #36796F;
                }
            }
        }
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__report{
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 32px;
        border-radius: 12px;
        &__top{
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        &__buttons{
            display: flex;
            gap: 16px;
            justify-content: flex-end;
        }
        &__options{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &__user{
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 5px 0px;
            &__image{
                position: relative;
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 8px;
                }
            }
            &__status{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 10px;
                position: absolute;
                width: 8px;
                height: 8px;
                right: 0px;
                bottom: 0px;
                background: #36796F;
                border: 1px solid rgba(255, 255, 255, 0.8);
                border-radius: 60px;
            }
        }
    }
    .memberProfile{
        padding: 5px;
        border-radius: 8px;
        color: #24554E;
        border: 1px solid #24554E;
        display: flex;
        gap: 4px;
        align-items: baseline;
    }
    .member__item__left{
        display: flex;
        align-items: flex-start;
        gap: 12px;
        cursor: pointer;
        flex-direction: column;
    }
    .member__item__left__image__square{
        img{
            width: 260px;
            height: 260px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
    }
    .member__item__title{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__icons {
            display: flex;
            align-items: center;
            gap:4px;
        }
    }
    .member__item__right{
        display: flex;
        align-items: flex-start;
        gap: 0px;
        width: 100%;
        flex-direction: column;
        padding: 12px 16px;
        .member__item__buttons{
            display: flex;
            gap: 12px;
            width: 100%;
            margin-top: 12px;
        }
        button{
            width: 50% !important;
            height: 100% !important;
        }
    }
}
.delete__modal{
    margin-top: -12px;
}
.modal__new{
    margin-top: -12px;
}
.member_item_info{
    padding-left: 76px;
    gap: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    flex-wrap: wrap;
    @media all and (max-width: 1024px) {
        padding-left: 0;
    }
    .memberSince, .memberActivity{
        display: flex;
        grid-gap: 0.5rem;
        gap: 0.5rem;
        align-items: center;
    }
}