.video__player{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background: rgba(19, 31, 30, 0.4);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    iframe{
        width: 67%;
        height: 63%;
    }
}