.upsell__edit__pricing{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    &__props{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}