.date__time__picker{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    .colendar{
        width: 100%;
        filter: none;
        .days{
            width: 100%;
        }
        .area{
            width: 100%;
            grid-template-columns: repeat(7, 12%);
        }
        .days__week{
            width: 100%;
            grid-template-columns: repeat(7, 12%);
        }
    }
}