.CertificatesContent {
   display: flex;
   flex-direction: row;
   padding: 0px;
   flex-wrap: wrap;
   align-items: stretch;
   background: #FFFFFF;
   border-radius: 12px;
   padding: 24px;
   gap: 25px;
   margin-top: 16px;
}



@media screen and (max-width: 1024px) {
   .CertificatesContent {
      justify-content: center;
      padding: 16px 0;
   }
}

@media screen and (max-width: 701px) {
   .CertificatesContent {
      flex-direction: column;

      & > div {
         width: 100%;

         .certificate__card {
            width: 100%;
            max-width: none;

            & > div {
               width: 100%;


               img {
                  width: 100%;
               }
            }
         }
      }
   }
}

