.selectedMember {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 16px 30px 16px 16px;
   box-sizing: border-box;

   .selectedMember__data {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      @media screen and (max-width: 1023px) {
         flex-wrap: wrap;
      }
      .selectedMember__text {
         display: flex;
         flex-direction: column;
      }

      .selectedMember__avatar {
         width: 24px;
         height: 24px;
         overflow: hidden;
         border-radius: 50%;
         object-fit: cover;
         display: flex;
         img{
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
         }
      }
   }

   .selectedMember__settings {
      svg {
         width: 24px;
         height: 24px;
      }
   }

   .selectedMember__button {
      display: flex;
      align-items: center;
      margin-left: 24px;
   }
}

@media screen and (max-width: 720px) {
   .selectedMember {
      flex-wrap: wrap;

      .selectedMember__settings {
         align-self: flex-start;

         svg {
            width: 24px;
            height: 24px;
         }
      }
      .selectedMember__button {
         width: 100%;
         margin: 16px 0;
      }
   }
}
