.switch_old {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 20px;
   .switch_label {
      position: absolute;
      top: 2px;
      left: 48px;
      white-space: nowrap;
   }
   .switch input {
      opacity: 0;
      width: 0;
      height: 0;
   }

   .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
   }

   .slider:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
   }

   input:checked+.slider {
      background-color: #3f4f65;
   }

   input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
   }

   input:checked+.slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
   }

   /* Rounded sliders */
   .slider.round {
      border-radius: 34px;
   }

   .slider.round:before {
      border-radius: 50%;
   }
}

.switch__green {
   input:checked+.slider {
      background-color: #7cb740;
   }
}

.switchOnOff.dn {
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   right: 5px;
   top: -1px;
 }

 .switchOnOff.up {
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 7px;
   top: -1px;;
 }

 .switchOnOff:before {
     font-size: xx-small;
     content: attr(data-content)
 }

 .switchOnOff.up:before {
     color:white;
 }

 .toggleOnOff.dn:before {
   color:black;
 }
.disabled-checker{
   span{
      background-color: #dddddd !important;
   }
}
