.post__editor__poll {
   display: flex;
   flex-direction: column;
   min-width: 560px;
   gap: 16px;
   &__editor {
    margin-bottom: 9px;
    &__button{
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
    }
      &__title {
         resize: none;
         outline: none;
         text-align: center;
         width: 100%;
         padding: 0px;
         border: none;
         font-weight: 500;
         margin-bottom: 12px;
         font-size: 20px;
         line-height: 160%;
         &::placeholder{
            font-size: 20px;
           }
         height: 30px;
         text-align: start;
         overflow: visible;
         &::-webkit-scrollbar {
            display: none;
         }
         & {
            -ms-overflow-style: none;
            scrollbar-width: none;
         }
         &:focus {
            box-shadow: none;
         }
      }
      &__subtitle {
        resize: none;
        outline: none;
        text-align: center;
        width: 100%;
        padding: 0px;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        height: 30px;
        text-align: start;
        overflow: visible;
       
        &::-webkit-scrollbar {
           display: none;
        }
        & {
           -ms-overflow-style: none;
           scrollbar-width: none;
        }
        &:focus {
           box-shadow: none;
        }
     }
   }
}
