.checkoutPageThird-leftContent {
   padding: 16px;
   box-sizing: border-box;

   .button-content {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .left-side-title {
      span {
         line-height: 1;
      }
   }

   .input-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-top: 24px;

      .input_new {
         font-size: 18px;
      }

      .textInput {
         padding-bottom: 24px;

         input {
            height: 54px;
            border: 1px solid #D0D2D4;
            border-radius: 8px;
            padding: 20px 16px;
            font-size: 18px;
            color: #555555;
            box-sizing: border-box;
            font-family: "Avenir Next Regular";
            background: transparent;

            &:focus {
               border: 1px solid #71B6EF;
               box-shadow: none;
            }
         }

         label {
            span {
               color: #D0D2D4 !important;
               font-size: 12px;
               padding-bottom: 6px;
               font-family: "Avenir Next";
               line-height: 1.25;
            }
         }
      }
   }

   .payment-line {
      border: 1px solid #E4EAEE;
      margin: 30px 0;
   }

   .payment-details-stripe {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-icons {
         margin: 0;
      }
   }

   .payment-details-title {
      padding-top: 24px;
      padding-bottom: 25px;
   }

   .payment-details-container {
      .payment-details {
         padding: 20px 20px 20px 10px;
         background: transparent;
         border: 1px solid #D0D2D4;
         box-sizing: border-box;
         border-radius: 8px;

         .credit-text-container {
            margin-left: 33px;
            width: 65%;
         }

         .inputs {
            padding-top: 32px;

            .second-inputs {
               display: flex;
               flex-wrap: wrap;
               padding-top: 24px;

               .name-on-card {
                  width: 262px;
                  padding-right: 25px;
                  margin-bottom: 10px;
               }

               .expiry-date {
                  padding-right: 25px;
                  width: 100px;

                  input {
                     -webkit-appearance: none;
                  }
               }

               .cvv-code {
                  width: 90px;
               }
            }
         }
      }

      .payment-details-stripe-border {
         border-color: #71B6EF;
      }
   }

   .paypal-container {
      margin: 16px 0;

      .paypal-details {
         padding: 20px 20px 20px 10px;
         background: transparent;
         border: 1px solid #D0D2D4;
         box-sizing: border-box;
         border-radius: 8px;

         .paypal-text-container {
            margin-left: 33px;
            width: 65%;
         }
      }
   }

   .choose-title {
      padding-top: 24px;
      // padding-bottom: 25px;
   }

   .mastercode-class-container {
      .mastercode-class-details {
         padding: 20px 20px 20px 10px;
         background: transparent;
         border: 1px solid #D0D2D4;
         box-sizing: border-box;
         border-radius: 8px;

         .mastercode-class {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
         }
      }
   }

   .payment-plan-container {
      margin-top: 16px;
      border: 1px solid #dde3e8;

      .payment-plan-details {
         margin: 40px 40px;

         .payment-plan {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .last-part {
               display: flex;
               flex-direction: row;

               .price {
                  padding-left: 8px;
               }
            }

            input {
               margin-right: 16px;
            }
         }
      }
   }

   .item-amount-container {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      padding-bottom: 16px;
      border-bottom: 1px solid #c2cedb;
   }

   .price-container {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
   }

   .footer-button {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;

      >div {
         border-radius: 3px;
         width: 100%;
      }

      >div>div {
         font-family: 'Avenir Next';
         font-size: 16px;
         border: none;
         line-height: 100%;
         text-align: center;
         width: auto;
         min-width: 250px;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         padding-left: 15px;
         padding-right: 15px;
         box-sizing: border-box;
         letter-spacing: 1px;
      }
   }

   .promocode-third {
      .promo-code-form {
         display: flex;
         align-items: center;
         gap: 20px;
         width: 100%;
         // padding-top: 16px;

         .inputNew {
            border: 1px solid #e7e9e9;

            .input_new {
               font-size: 18px;
            }
         }

         .labelsRectangle {
            height: 0px;
         }

         .textInput {
            display: flex;
            flex-direction: column;
            width: 60%;

            input {
               height: 34px;
               border: 1px solid #949bbf;
            }

            width: 145px;
            padding-right: 24px;
            padding-bottom: 0;
         }

         .button-content {
            height: 34px !important;
            width: 124px;
            border-radius: 8px;
         }
      }
   }

   .terms-conditions-text {
      display: flex;
      flex-wrap: wrap;
      padding-top: 16px;

      .checkbox {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-right: 8px;

         .textBasic {
            padding-left: 5px;
         }
      }
      .terms-condition-and {
         margin: 0px 4px;
      }
   }
}