.schoolroomTheme-save {
    padding: 16px;
    background-color: #fff;
    position:absolute;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    z-index: 9999;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E7E9E9 ;
    justify-content: space-between;
    svg{
        cursor: pointer;
    }
    &-left{
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &-sizes{
        display: flex;
        align-items: center;
        gap: 8px;
        &-temp{
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &-active-temp{
            border: 1px solid #24554E;
            border-radius: 8px;
            svg{
               path{
                   fill: #24554E;
               }
            }
        }
    }
    &-actions{
        display: flex;
        align-items: center;
        gap: 12px;
        &-undo{
            display: flex;
        }
        &-button{
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-line{
            background: #D9D9D9;
            height: 24px;
            width: 1px;
        }
    }
 }
 .schoolroomTheme-temp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 3.6px;
    cursor: pointer;
    img {
       height: 16px;
       margin: 0 5px;
    }
 }
