.my__account__saved{
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__filter{
        display: flex;
        gap: 24px;
        .inputSearch{
            width: 100%;
        }
        .sort__button__new{
            button{
                height: 100%;
            }
        }
        &__buttons{
            display: flex;
            gap: 12px;
        }
    }
    &__data{
        display: flex;
        gap: 24px;

        @media screen and (max-width: 793px) {
            flex-direction: column;
            align-items: center;

            .offer__card {
                min-width: auto;
            }
        }
    }
}