.header-container {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   .desk-header-links{
      display: flex;
   }
   .mob-header-links{
      display: none;
   }
    .header-content {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .school_logo {
           width: 250px;
           max-height: 60px;
           object-fit: cover;
        }

        .avatar-container{
           img{
              width: 40px;
              height: 40px;
              object-position: center;
              object-fit: cover;
           }
        }
    }
}

.main-style {
    background-color: #3f4f65;
    padding: 24px 0px;
}

.studentsRoom-style {
    padding: 24px;
    background-color: '#ffffff';
    height: 34px;
}


.main-styleMainhubIcon {
    width: 168px;
    height: 39px;
    path {
        fill-opacity: 1;
    }
}

.studentsRoom-styleIcon {
    width: 103px;
    height: 24px;
    path {
        fill: #34495e;
        fill-opacity: 1;
    }
}

@media screen and (max-width: 1280px) {
   .header-container {
       .header-content {
           width:90%;
       }
   }
}

@media screen and (max-width: 1130px) {
   .header-container {
       .header-content {
           width:96%;
       }
   }
}


@media screen and (max-width: 1023px) {
   .main-style {
      .left-icon {
         svg{
            .arrow-left {
               fill: #ffffff;
               fill-opacity: 1;
           }
         }
      }
   }
    .header-container {
       height: auto !important;
       .desk-header-links{
         display: none;
      }
       .mob-header-links{
         display: flex;
      }
        .header-content {
            width:90%;
        }
    }
    .main-styleIcon {
        width: 127px;
        height: 44px;
    }
    .memberComment{
       .avatar-container {
           width: 100%;
           div{
              min-width: 24px;
           }
       }
    }
    .header-container {
      .header-content {
          .school_logo {
             width: 181px;
          }
         }
      }
 }
