.miestro_community {
   display: flex;
   flex-direction: column;
   gap: 16px;
   align-items: center;
   &__title {
      align-self: flex-start;
      padding-left: 20px;
   }
   .grey_scale {
      height: 1px;
      width: 100%;
      background: #E7E9E9;
   }
   img {
      display: block;
      cursor: pointer;
      max-width: 100%;
   }
}
