.videosTableCard {
   padding: 32px 0px;
   width: 100%;
   box-sizing: border-box;

   .videosTableCard__header {
      margin-bottom: 56px;
      padding-left: 40px;
      padding-right: 24px;
   }

   .videosTableCard__table {
      position: relative;
      .videoTimeCard__wrapper {
         position: absolute;
         max-width: 233px;
         width: 100%;
         right: 112px;
         top: 50px;
      }
   }
}
