.signatureButtons {
    justify-content: space-between;
    max-width: 240px;
    button {
        min-width: 70px;
        box-sizing: border-box;
        font-size: 16px!important;
    }
}
.signatureWrapper {
    max-width: 240px;
}