.modal__wrapper {
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.329);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    .modal__inner__wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        background-color: #fff;
        border-radius: 12px;
        padding: 40px;

        .top__section {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: flex-start;

            .info__section {
                display: flex;
                align-items: flex-start;
                gap: 8px;
                padding: 12px;
                background-color: #F8FAFA;
                border-radius: 12px;
                border: 1px solid #E7E9E9;
                max-width: 286px;
                width: 100%;
            }
        }

        .bottom__section {
            display: flex;
            flex-direction: column;

            .steps__wrapper {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .buttons__wrapper {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-top: 32px;

                @media (max-width: 1024px) {
                    flex-direction: column-reverse;

                    button {
                        width: 100% !important;
                    }
                }
            }
            
            .modal__footer__wrapper {
                display: flex;
                flex-direction: column;
                gap: 32px;
                margin-top: 44px;

                .or__section {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    & > div {
                        background-color: #E7E9E9;
                        height: 1px;
                        max-width: 120px;
                        width: 100%;
                    }
                }

                .contact__wrapper {
                    max-width: 286px;
                    width: 100%;
                    background-color: #F8FAFA;
                    border-radius: 12px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    cursor: pointer;
                }

                @media (max-width: 1024px) {
                    margin-top: 32px;
                }
            }

            .textarea__wrapper {
                max-width: 286px;
                width: 100%;

                textarea {
                    max-width: 286px;
                    width: 100%;
                    border: 1px solid #E7E9E9;
                    border-radius: 12px;
                    outline: none;
                    padding: 6px 8px 6px 16px;
                    line-height: 1.7;
                    min-height: 70px;
                    max-height: 200px;
                    scrollbar-width: thin; 
                    scrollbar-color: #888 #f1f1f1;   
                }
            }
        }

        @media (max-width: 1024px) {
            max-width: 343px;
            width: 100%;
            padding: 20px;
        }
    }
}