.courseSection {
   display: flex;
   flex-direction: column;
   padding: 24px 32px;
   position: relative;

   .section__dragHandle {
      position: absolute;
      cursor: pointer;
      left: 5px;
      top: 22px;
   }

   .addedLessons {
      width: 100%;
      margin-top: 8px
   }

   .selectBtn-wrapper {
      position: relative;
      margin-top: 16px;
      z-index: 2;
   }

   .selectBtn_active {
      z-index: 3;
   }

}

@media screen and (max-width: 720px) {
   .selectBtn-wrapper {
      width: 100%;
   }
}
