.change__button {
   background: #ffffff;
   border: 1px solid #e7e9e9;
   border-radius: 12px;
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 6px 12px;
   cursor: pointer;
   gap: 8px;
}
