.upload__with__media__view {
   display: flex;
   width: 100%;

   @media (max-width: 1400px) {
      width: 102%;
   }
   .folder__file__right{
      span{
         white-space: nowrap;
      }
   }
   &__left {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-right: 1px solid #e7e9e9;
      width: 40%;
      .folder__item {
         display: flex;
         flex-direction: row;
         align-items: center;
         padding: 4px 16px 4px 8px;
         gap: 12px;
         border-radius: 12px;
         &__left {
            display: flex;
            align-items: center;
         }
         &__right {
            &__top {
               cursor: pointer;
            }
         }

         @media (max-width: 1024px) {
            width: 100px;
            flex-direction: column;
            align-items: flex-start;
         }
      }

      @media (max-width: 1024px) {
         padding-left: 12px;
      }
   }
   &__right {
      padding: 24px;
      display: flex;
      width: 60%;
      min-width: 325px;
      flex-direction: column;
      gap: 8px;
      &__bottom {
         display: flex;
         flex-direction: column;
         gap: 8px;
         .folder__file {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__left {
               display: flex;
               align-items: center;
               gap: 8px;
            }
            &__right {
               background: #ffffff;
               display: flex;
               flex-direction: row;
               align-items: center;
               padding: 0px 4px;
               gap: 4px;
               border: 1px solid #e7e9e9;
               border-radius: 4px;
            }
         }

         @media (max-width: 1024px) {
            padding-right: 50px;
         }
      }
   }
}
