.videoProgramContent {
   .videoBottomNoComment {
      >div {
         flex: 1;
      }
   }
   .videoBottom {
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 6px rgba(19, 31, 30, 0.1);
      border-radius: 12px 12px 0px 0px;
      justify-content: space-between;
      background: var(--mainBgColorTransparent);
      border-radius: 4px;
      @media screen and (max-width: 466px) {
         flex-wrap: wrap;
         box-sizing: border-box;
         svg {
            width: 12px;
         }
         span {
            font-size: 14px;
         }
      }
      >span {
         background: var(--mainBgColorTransparent);
         width: 100%;
         white-space: nowrap;
         &:not(:nth-child(1)) {
            border-left: 1px solid var(--activeColor);
         }
      }
      span {
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 12px 32px;
      }
      span.videoBottomMenuActive {
         background: var(--activeColor);
         border-left: none;
      }
      span.videoBottomMenuActive + span {
         border-left: none;
      }
   }
}
