.offer__banner {
    background: linear-gradient(92.95deg, #00041A 2.46%, #233862 99.65%);
    height: 452px;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        height: 100%;
        padding-top: 60px;
        max-width: 1133px;
        margin: 0px auto;

        @media screen and (max-width: 1140px) {
            max-width: 100%;
            padding-left: 60px;
            padding-right: 60px;
        }

        .breadcrumb {
            button {
                color: #fff;
            }

            path {
                fill: #fff;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: auto 0px;
        gap: 104px;
        padding: 0px 100px;



        &__left {
            display: flex;
            flex-direction: column;
            gap: 16px;

            margin-right: auto;

            &__items {
                display: flex;
                gap: 16px;
            }

            &__item {
                display: flex;
                align-items: center;
                gap: 4px;

                padding: 0px 6px;

                border: 1px solid #E8F2F1;
                border-radius: 8px;

                span {
                    white-space: nowrap;
                }
            }

            &__buttons {
                display: flex;
                gap: 16px;

                margin-top: 16px;
            }

            &__button {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 14px;

                cursor: pointer;

                background: rgba(255, 255, 255, 0.2);
                border-radius: 8px;
            }

        }

        &__right {
            width: 45%;

            img {
                width: 100%;

                object-fit: cover;
                border-radius: 20px;
            }
        }
    }

    @media screen and (max-width:1024px) {
        height: auto;

        &__content {
            flex-direction: column;
            gap: 40px;
            padding: 0px 50px;
            padding-bottom: 40px;

            &__left {
                align-items: center;
                width: 100%;

                span {
                    text-align: center;
                }
            }

            &__right {
                width: 70%;
            }
        }

    }
    
    @media screen and (max-width: 700px) {
        &__content {
            flex-direction: column;
            gap: 40px;
            padding: 0px 50px;
            padding-bottom: 40px;
            .offer__banner__title{
                font-size: 24px;
            }
            &__left {
                align-items: center;    
    
                span {
                    text-align: center;
                }
            }
    
            &__right {
                width: 100%;
            }
        }
    }
}