.addBadgeCard {
   padding: 24px 40px;
   width: 100%;
   box-sizing: border-box;
   .addBadgeCard__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
   }

   .addBadgeCard__form {
      .addBadgeCard__input {
         margin-bottom: 24px;

      }
      .colorInput__icon {
         right: 24px !important;
      }

      .colorInput__picker {
         right: 54px !important;
      }

      .SelectElement-basic {
         padding-left: 16px !important;
         padding-right: 24px !important;
      }
      >input {
         padding-left: 16px !important;
         padding-right: 24px !important;
      }

      .colorInput__wrapper,
      .colorInput__subLabel {
         margin: 0 !important;
      }

      .addBadgeCard__textarea {
         textarea {
            height: 132px !important;
            padding: 12px 16px !important;
         }
      }
   }

   .addBadgeCard__btnsBlock {
      display: flex;
      justify-content: flex-end;

      .btnWrapper {
         display: flex;
         width: 150px;

         button {
            width: 100%;
         }
      }
   }
}

@media screen and (max-width: 1280px) {
   .addBadgeCard {
      padding: 24px 20px;
   }
}


@media screen and (max-width: 720px) {
   .addBadgeCard {
      padding: 24px 24px 32px 24px;

      .addBadgeCard__input {
         margin-bottom: 16px!important;
      }

      .addBadgeCard__btnsBlock {
         flex-direction: column-reverse;

         .addBadgeCard__btn {
            width: 100%;
            button {
               width: 100% !important;
               height: 48px;
            }
            &:nth-of-type(2) {
               margin: 16px 0;
            }
         }
      }
   }
}
