.quizBlock {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
// .quizLesson {
//    display: flex;
//    flex-direction: column;
//    padding: 24px 40px;
//    width: 100%;
//    box-sizing: border-box;

//    .quizLesson__question:not(:last-of-type) {
//       border-bottom: 1px solid #c2cedb;
//       padding-bottom: 24px;
//    }

//    .quizLesson__fields {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//    }

//    .quizLesson__buttons {
//       display: flex;
//       width: 100%;
//       justify-content: flex-end;
//       margin-top: 24px;
//    }

//    .quizLesson__addQuiestion {
//       width: 100%;
//       margin-top: 24px;
//    }

// }

// @media screen and (max-width: 720px) {
//    .quizLesson {
//       padding: 0;
//       height: 100%;
//       justify-content: space-between;

//       .quizLesson__addQuiestion {
//          .btnBasic {
//             height: 48px!important;
//          }
//       }

//       .quizLesson__buttons {
//          display: flex;
//          flex-direction: column-reverse;
//          width: 100%;
//          margin-top: 16px;

//          .btnBasic {

//             &:not(:first-child) {
//                margin: 0;
//             }

//             &:not(:last-child) {
//                margin-top: 16px;
//             }
//          }
//       }
//    }
// }
