.dropdown-card {
    // width: 401px;
    background-color: inherit;
    box-sizing: border-box;
    transition: all 0.2s ease;
    
    &:not(.darkMode) {
      border-bottom: 1px solid rgba(231, 233, 233, 0.7);
      padding: 0 0 0 0;
    }
    
    &.darkMode::after {
      content: '';
      height: 1px;
      width: 100%;
      display: block;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: rgba(184, 184, 184, 0.16);
    }
    
    .dropdown-card__header {
      display: flex;
      border-radius: 8px;
      justify-content: space-between;
      align-items: flex-start;
      padding: 12px 8px 12px 6px;
      transition: background-color 0.15s ease;
      
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.02);
      }
      
      .dropdown-card_iconTitel {
        display: flex;
        align-items: flex-start;
      }
      
      .dropdown-card__title {
        span {
          display: block;
          color: var(--textColor);
          font-weight: 500;
        }
        
        > div {
          margin-top: 8px;
          
          &:first-of-type {
            margin-bottom: 4px;
          }
        }
      }
    }
    
    .background-white_true {
      background-color: var(--mainBgColorTransparent);
      border-radius: 8px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }
    
    .dropdown_card_header_dark {
      background-color: #272727;
      
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
    
    .dropdown-card__content {
      padding-left: 6px;
      margin-top: 8px;
    }
  }
  
  .type_viewed-true {
    background-color: inherit;
    
    .dropdown-card__header {
      .dropdown-card__title {
        span {
          color: var(--textColor);
          opacity: 0.7;
        }
      }
    }
  }