.checkoutHeader {
   background-color: inherit;
   padding-top: 36px;
   padding-left: 21px;
   padding-bottom: 36px;
   //max-height: 100px;
   box-sizing: border-box;
   .logo {
      img {
         max-height: 30px;
         display: block;
      }
   }
   .checkout_title {
      span {
         display: inline-block;
         font-weight: 700;
         font-size: 20px;
         line-height: 1;
      }
   }
   .checkoutHeader__logo {
      path {
         fill-opacity: 1;
      }
   }
   .checkoutHeader__text {
      max-width: 295px;
      >span {
         letter-spacing: normal;
         display: block;
      }
   }


}

.checkoutSubheader {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   >div {
      width: 100%;
   }
   .checkoutSubheader_empty {
      height: 30px;
      width: 100%;
  }
}



@media screen and (max-width: 720px) {
   .checkoutHeader {
      padding: 24px 16px 45px 16px;

      .checkoutHeader__logo {
         display: none;
      }
      .checkoutHeader__text {
         .checkoutHeader__title {
            margin-bottom: 16px;
            span {
               font-size: 24px;
            }
         }
      }
   }
}
