.show-full-truncate-text-class {
    border-radius: 8px !important;
    padding: 8px 12px !important;
    font-size: 12px !important;
    opacity: 1 !important;
    z-index: 99;
    background-color: #1d2939;
    max-width: 80vh;
 }
 .truncate-text-content{
    display: grid;
    position: relative;
 }
 
.truncate {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   cursor: pointer;
}