.customLink {
   .customLinks__createModal {
      width: 100%;
      position: relative;
      &__link {
         position: relative;
         .inputNew {
            padding-right: 25px;
         }
      }
      &__close {
            position: absolute;
            top: 42px;
            right: -2px;
            cursor: pointer;
         }
   .SelectItem__button {
      height: 44px;
      justify-content: space-between;
   }
   .colorInput__label {
      padding-bottom: 8px;
   }
   .colorInput__wrapper, .colorInput__label {
      margin: 0;
   }
   .createModal__header {
      display: flex;
      justify-content: space-between;

      .createModal__close {
         cursor: pointer;
      }
   }

   .createModal__content {
      display: flex;
      width: 100%;
      flex-direction: column;
      button {
         height: min-content;
      }
      .createModal__select {
         display: flex;
         gap: 24px;
         align-items: flex-end;
         >div {
            width: 50%
         }
         &__btns {
            display: flex;
            gap: 4px;
            align-items: center;
            width: 164px !important;
         }
      }
   }

   .createModal__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 24px;

      >div {
         width: 100%;
         &:first-of-type {
            max-width: 120px;
            margin-right: 16px;
         }
         &:last-of-type {
            max-width: 150px;
         }
         button {
            width: 100%;
         }
      }
   }
}

@media screen and (max-width: 1023px) {
   .customLinks__createModal {
      padding: 24px;
      .createModal__content {
         .createModal__select {
            flex-direction: column;
            >div {
               width: 100%;
               margin-left:0;
            }
         }
         .createModal__footer {
            margin: 16px 0;
            flex-direction: column;
            div {
               margin: 8px 0;
               max-width: 100%;
            }
         }
      }
   }
}

}
