.testimonial {
   &.mark::after {
      background-color: transparent;
   }

   &-content {
      display: flex;
      min-height: 102px;
      border-radius: 4px;
      height: inherit;
      overflow: auto;

      .testimonial-name {
         font-family: "Avenir Next";
         font-size: 16px;
         font-weight: 600;
         font-stretch: normal;
         font-style: normal;
         line-height: 1.5;
         letter-spacing: normal;
         color: #ffffff;
         padding-bottom: 4px;
      }
      .testimonial-desc {
         font-family: "Avenir Next Regular";
         font-size: 14px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: 1.57;
         letter-spacing: normal;
         color: #ebebeb;
      }
      img {
         width: 43px;
         height: 43px;
         min-width: 43px;
         object-fit: cover;
         margin-right: 11px;
         border-radius: 0;
      }
   }
}