.commentsBlock {
   position: relative;
  // padding: 0 24px;
   .commentsBlock__comments {
      max-height: 500px;
      overflow-y: auto;
      padding: 12px;

      &::-webkit-scrollbar-track {
         border-radius: 10px;
         background-color: transparent;
      }

      &::-webkit-scrollbar {
         width: 5px;
         background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
         border-radius: 3px;
         box-shadow: inset 0 0 6px rgba(119, 119, 119, 0.3);
         -webkit-box-shadow: inset 0 0 6px rgba(119, 119, 119, 0.3);
         background-color: rgb(226, 226, 226);
      }

      .commentsBlock__newComment {
         opacity: 0;
         animation: fadeIn 3000ms;
         animation-fill-mode: forwards;
      }
      .commentsBlock_deleteComment {
         animation: fadeOut 500ms;
         animation-fill-mode: forwards;
      }
   }

   button {
      margin-top: 16px;
      float: right;
   }

   .commentsLocked {
      position: absolute;
      background-color: #dedcdc;
      opacity: 0.1;
      width: calc(100% - 10px);
      height: 100%;
   }

   .lockedText {
      color: rgb(63, 79, 101);
      font-family: Inter;
      padding: 15px;
      font-style: italic;
   }
}

@media screen and (max-width: 720px) {
   .commentsBlock {
      button {
         margin-top: 16px;
         float: none;
      }
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   25% {
      opacity: 0.6;
   }

   50% {
      opacity: 0.9;
   }

   100% {
      opacity: 1;
   }
}

@keyframes fadeOut {
   0% {
      opacity: 1;
   }

   25% {
      opacity: 0.9;
   }

   50% {
      opacity: 0.6;
   }

   100% {
      opacity: 0;
   }
}
