.MyCardElement {
   padding: 10px 12px;
   width: 100%;
   color: #32325d;
   box-sizing: border-box;
   box-shadow: 0 1px 3px 0 #e6ebf1;
   -webkit-transition: box-shadow 150ms ease;
   transition: box-shadow 150ms ease;
   border-radius: 12px;
   border: 1px solid #E7E9E9;
   background: #FFF;
 }

 .MyCardElement--focus {
   box-shadow: 0 1px 3px 0 #cfd7df;
 }

 .MyCardElement--invalid {
   border-color: #fa755a;
 }

 .MyCardElement--webkit-autofill {
   background-color: #fefde5 !important;
 }

.Checkout {
   position: relative;
   .Checkout_imgs {
      display: flex;
      gap: 8px;
      margin-bottom: 24px;
      img {
         max-width: 100%;
      }
   }
   .Checkout_imgs_text {
      position: absolute;
      top: 32px;
      left: 11px;
      background: #FFF;
   }

}
