.sectionEditable {
   .imageOverlayCheckbox {
      margin-top: 20px;
  }
  .colorInput__wrapper {
     margin-top:0;
  }
  .image__view{
   min-height: min-content;
  }
  .uploadImg_medium{
   margin-top: 10px;
  }
}
