.signin__template2__left {
    width: 50%;
    max-width: 540px;
    padding: 44px;
    display: flex;
    flex-direction: column;

    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    .logo__wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;

        & > img {
            max-width: 60px;
            height: auto;
        }
    }

    &__text {
        margin-top: 12px;

        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: wrap;
        justify-content: center;
     }

     &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 24px;
        &__remember {
           display: flex;
           align-items: center;
           justify-content: space-between;

           @media all and (max-width: 701px) {
            flex-direction: column;
            gap: 16px;
           }
        }

        button{
          margin-top: 20px;
        }
     }

     @media all and (max-width: 1023px) {
         width: 100%;
         border-top-left-radius: 12px;
         border-top-right-radius: 12px;
         border-bottom-left-radius: 0;
         padding: 24px;
         padding-bottom: 44px;
     }
}
