.lessonComments {
   display: flex;
   flex-direction: column;
   // background: #fff;
    padding: 20px;
   &__empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 168px 0;
      text-align: center;
      @media screen and (max-width: 1023px) {
         padding: 24px 0;
      }
      span {
         max-width: 186px;
         display: block;
      }
   }
   .lessonCommentsHeader {
      display: flex;
       align-items: center;
       justify-content: space-between;
   }
}
