.AutomationTable {
   padding: 24px 32px;
   .automation_content{
      .itemWrapper {
         padding: 24px 24px 0 24px;
      }
      .automation_table_header {
         display: flex;
         justify-content: space-between;
         div {
            flex: 1;
            &:last-child {
               flex: none;
               width: 70px;
            }
         }
      }
    }
    
}
