.community__settings__messaging{
    display: flex;
    gap: 16px;
    flex-direction: column;
    &__option{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}