.loginPageHeader {
   display: flex;
   justify-content: flex-end;
   padding: 36px 32px 0 36px;
   a {
      text-decoration: none;
      &:active {
         color: #fff;
         text-decoration: none;
      }
   }
   .textBasic_size_medium {
      font-size: 21px;
   }
}
