.notification__edit__header {
   width: 100%;
   box-sizing: border-box;
   background: #ffffff;
   border-bottom: 1px solid #E7E9E9;
   backdrop-filter: blur(18px);
   padding: 20px 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   &__left{
       display: flex;
       align-items: center;
       gap: 11px;
   }
   &__right{
       display: flex;
       align-items: center;
       gap: 12px;
       .line{
           height: 36px;
           border: 1px solid #E7E9E9;
        }
       &__preview{
           display: flex;
           align-items: center;
           gap: 8px;
           span{
               margin-top: 2.5px;
           }
           cursor: pointer;
       }
   }
}
