.signin__template{
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    background-color: #f0f2f2;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: auto;
    background-repeat: no-repeat;

    &__content{
        max-width: 566px;
        display: flex;
        flex-direction: column;
        gap: 52px;
        width: 98%;
        margin: 10px 0;
        max-height: 100vh;
    }
}
