.mob-nav {
   width: 100%;
   user-select: none;
   overflow-x: scroll;
   top: 67px;
   position: fixed;
   box-sizing: border-box;
   z-index: 1;
   box-shadow: 2px 2px 10px 0 rgba(187, 187, 187, 0.3);
   overflow: -moz-scrollbars-none;
   -ms-overflow-style: none;
   background: #fff;


   &::-webkit-scrollbar {
      height: 0 !important
   }

   .mob-nav__items {
      width: max-content;
      display: flex;
      padding: 0px 32px 0 16px;
   }
}
