.affiliate__links{
    background-color: white;
    border: 1px solid #E7E9E9;
    border-radius: 12px;    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 48px;
    height: 100%;
    gap: 24px;
    &__top{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__content{
        max-height: 100%;
        width: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
          }
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
    &__buttons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }
}