.logIn__container {
   width: 100%;
   max-width: 551px;
   margin-left: auto;
   margin-right: auto;

   .logIn {
      padding: 24px;
      display: flex;
      justify-content: space-between;

      .miestroLogo {
         margin-bottom: 45px;
      }

      .logIn__main {
         flex: 1 1;
         max-width: 416px;
         min-width: 350px;
      }
      .logIn__form {
         margin-top: 50px;
      }
      .logIn__artwork {
         margin-top: 170px;
         margin-left: 50px;
         width: 100%;
         max-width: 416px;
         img {
            width: 100%;
            object-fit: cover;
         }
      }
      .logIn__rememberMe {
         label {
            span{
               font-weight: 600;
               font-size: '14px';
            }
         }
      }
   }
}

.logIn__withImage {
   max-width: 1128px;
}

@media screen and (max-width: 720px) {
   .logIn__container {
      max-width: 551px!important;
      .logIn {
         .miestroLogo {
            display: none;
         }
         .logIn__form {
            margin: 0;
         }
      }
   }
   .logIn__main {
      max-width: none!important;
      min-width: 0!important;
   }
   .logIn__artwork {
      display: none!important;
   }
}

@media screen and (max-width: 724px) {
   .logIn {
      padding: 24px;
   }
}
