REACT_APP_API_LOCAL_ENDPOINT=http://areg.miestro.loc
REACT_APP_MAIN_LOCAL_ENDPOINT=http://miestro.loc

REACT_APP_PROTOCOL=http://
REACT_APP_MAIN_DOMAIN=miestro.loc
REACT_APP_MAIN_DOMAIN_LIVE=http://miestro.loc

SKIP_PREFLIGHT_CHECK=true
UPLOADCARE_PUBLIC_KEY=92cf2a9866b7d932bae6

REACT_APP_CHECKOUT_URL=http://checkout.miestro.loc
REACT_APP_HTTP_PROTOCOL=
REACT_APP_SOCKET_ENDPOINT=
REACT_APP_STRIPE_API_KEY=
REACT_APP_EDITOR_API_KEY=
REACT_APP_HELPSCUOT_BEACON_ID=

# Stripe Price IDs for subscriptions
REACT_APP_STRIPE_ESSENTIAL_MONTHLY_PRICE_ID=
REACT_APP_STRIPE_SURGE_MONTHLY_PRICE_ID=
REACT_APP_STRIPE_INFINITE_MONTHLY_PRICE_ID=
REACT_APP_STRIPE_ESSENTIAL_YEARLY_PRICE_ID=
REACT_APP_STRIPE_SURGE_YEARLY_PRICE_ID=
REACT_APP_STRIPE_INFINITE_YEARLY_PRICE_ID=

REACT_APP_GOOGLE_RECAPTCHA_V3_SITE_KEY=
REACT_APP_GOOGLE_RECAPTCHA_V3_SECRET_KEY=
