.availableAppCard {
    max-width: calc(100vw - 36px);
    min-height: 128px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #E7E9E9;
    padding: 24px 24px 16px;
}