.api__view {
   margin: 24px 0px;
   display: flex;
   flex-direction: column;
   gap: 24px;
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      &__left {
         .top {
            display: flex;
            align-items: center;
            gap: 4px;
            svg {
            }
         }
      }
      &__right {
         a {
            text-decoration: none;
         }
      }
   }
   &__content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      &__field {
         display: flex;
         gap: 8px;
         flex-direction: column;
         &__hide {
            display: flex;
            align-items: center;
            gap: 4px;
         }
         &__input {
            background: #ffffff;
            border: 1px solid #e7e9e9;
            border-radius: 12px;
            display: flex;
            padding: 10px 16px;
            align-items: center;
            justify-content: space-between;
            .symbol__round {
               width: 4px;
               height: 4px;
               background: #727978;
               border-radius: 50%;
            }
            .right__flex {
               display: flex;
               align-items: center;
               gap: 12px;
            }
            .right {
               svg {
                  cursor: pointer;
                  path {
                     fill: #727978;
                  }
               }
            }
         }
      }
   }
}
