.my__account__community{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    &__top{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 1024px) {
            gap: 23px;
        }
    }
    &__bottom{
        display: flex;
        align-items: flex-start;
        gap: 24px;
        width: 100%;
        &__left{
            width: 100%;
        }
        &__right{
            min-width: 331px;
            max-width: 331px;
            background: #FFFFFF;
            border: 1px solid #E7E9E9;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 16px;
            gap: 10px;
            &__line{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            &__flex{
                display: flex;
                gap: 12px;
                width: 100%;
                .item{
                    background: #FFFFFF;
                    width: 100%;
                    border: 1px solid #E7E9E9;
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 6px 0px 0px;
                    gap: 4px;
                }
            }
        }

        @media screen and (max-width: 801px) {
            flex-direction: column-reverse;

            &__right {
                min-width: auto;
                width: 100%;
            }
        }
        @media screen and (max-width: 401px) {
            &__left {
                .community__post {
                    padding: 16px;
                }
                .community__post__actions__right span {
                    display: none;
                }
            }
        }
    }
}