.reorderCoursesWrapper {
  width: 100%;
  justify-content: space-between;
  .reorder-left {
    width: 100%;
    max-width: 600px;
    @media(max-width: 800px) {
      margin-top: 40px;
    }
  }
  .reorder-right {
    position: fixed;
    right: 24px;
    top: 24px;
    @media(max-width: 1023px) {
      right: 24px;
      top:80px;
    }
    @media(max-width: 800px) {
      right: 0px;
      width: 100%;
      top:69px;
      button {
        width: 100%;
      }
    }
  }
}
.saveReorder {
  display: flex;
  max-width: 600px;
  justify-content: flex-end;
  width: 100%;
}