.categories__view{
    background: #FFFFFF;
    border: 1px solid #E7E9E9;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0px;
    &__top{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 48px;
    }
}