.headline{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    &__button{
        background-color: inherit;
        border: none;
        cursor: pointer;
    }
}
