.sectionEditable {
   .imageOverlayCheckbox {
      margin-top: 20px;
  }
  .colorInput__wrapper {
     margin-top:0;
  }

  .upload__with__media__content {
   width: 100%;
   
   .cropArea {
      min-width: auto;
   }

   }

   .main_background_section_wrapper > .colorInput {
      margin-top: 12px;
   }
}
