@font-face {
   font-family: 'Avenir Next';
   src: url('~assets/fonts/AvenirNextLTPro-Demi.otf');
   /* IE9 Compat Modes */
   src: url('~assets/fonts/AvenirNextLTPro-Demi.otf') format('embedded-opentype'),
      /* IE6-IE8 */
      url('~assets/fonts/AvenirNextLTPro-Demi.otf') format('woff2'),
      /* Super Modern Browsers */
      url('~assets/fonts/AvenirNextLTPro-Demi.otf') format('woff'),
      /* Pretty Modern Browsers */
      url('~assets/fonts/AvenirNextLTPro-Demi.otf') format('truetype'),
      /* Safari, Android, iOS */
      url('~assets/fonts/AvenirNextLTPro-Demi.otf') format('svg');
   /* Legacy iOS */
}

@font-face {
   font-family: 'Avenir Next regular';
   src: url('~assets/fonts/AvenirNextLTPro-Regular.otf');
}

.cardNumberInput {
   border-radius: 4px;
   border: solid 1px #cddaf1;
   background-color: #fbfdff;
   padding: 12px 16px;
   height: 48px;
   display: flex;
   align-items: flex-start;
   box-sizing: border-box;

   .cardNumberInput__inputs {
      flex: 1 1;
      margin-left: 12px;
      display: flex;
      justify-content: space-between;
      position: relative;

      >input {
         padding: 0;
         border: none;
         outline: none;
         font-family: 'Avenir Next regular';
         line-height: 1.5;
         letter-spacing: 0.4px;
         font-size: 16px;
         background: #fbfdff;
         font-weight: bold;
         color: #3f4f65;
         width: 100%;

         &::placeholder {
            color: #8a94a2;
         }
      }

      .cardNumberInput__number {
         margin-right: 130px;
      }

      .cardNumberInput__cvc {
         position: absolute;
         right: 0;
         width: 113px
      }
   }

   img {
      margin-top: -2px;
   }
}

.cardNumberInput_focused {
   border: 2px solid #7cb740;
}

.mob-cardNumberInput {
   display: none;

   .mob-creditCardInput {
      position: relative;

      >img {
         position: absolute;
         z-index: 999;
         top: 11px;
         left: 16px;
      }

      input {
         padding-left: 52px!important;
      }
   }
}

@media screen and (max-width: 720px) {
   .cardNumberInput {
      display: none;
   }
   .mob-cardNumberInput {
      display: block;
   }
}