.SendEmail{
   display: flex;
   flex-direction: column;
   gap: 28px;
   min-width: 952px;
   width: 952px;
   padding: 4px 4px 12px 4px;
   &__title{
      display: flex;
      align-items: center;
      gap: 8px;
   }
   &__content{
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   &__btns{
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
   }
}
