.currentMember__account {
    width: 100%;
    border: 1px solid #e7e9e9;
    border-radius: 12px;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    align-items: flex-end;
    &__buttons{
        position: absolute;
        right: 16px;
        top: 12px;
        z-index: 4;
        display: flex;
        align-items: center;
        gap: 8px;
        .drop__triggle__icon{
            background: #FFFFFF;
            padding: 8px;
            border-radius: 8px;
            position: relative;

            .unreads_count_wrapper {
               position: absolute;
               top: -6px;
               right: -6px;
               width: 18px;
               height: 18px;
               background-color: #24554E;
               border-radius: 100%;
               display: flex;
               justify-content: center;
               align-items: center;

               & > span {
                  font-size: 12px;
                  color: #FFFFFF;
                  line-height: 18px;
               }
            }
        }
    }
    &__background {
       position: absolute;
       z-index: 1;
       width: 100%;
       height: 140px;
       top: 0;
       left: 0;
       border-radius: 12px 12px 0px 0px;
       background: linear-gradient(91.13deg, #0A202B 15.71%, #CBD0D4 100%);
        }
    &__info {
       padding: 18px 32px 0px 64px;
       width: 100%;
       display: flex;
       align-items: flex-end;
       gap: 32px;
       z-index: 2;
       @media screen and (max-width: 1024px) {
         padding: 18px 10px 0px 16px;
      }
       &__tabs {
          width: 100%;
          display: block;
          padding: 46px 32px 0px 64px;

          @media screen and (max-width: 1024px) {
            padding: 32px 16px 0px 16px;
            .tabs__line {
               gap: 12px;
            }
          }

          span {
            white-space: nowrap;
          }
       }
       &__image {
          border-radius: 12px;
          width: 172px;
          height: 172px;
          object-fit: cover;
          border: 3px solid #ffffff;
          border-radius: 12px;
       }
       &__text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .left {
             display: flex;
             flex-direction: column;
             gap: 6px;
             &__top{
                display: flex;
                align-items: center;
                gap: 6px;
             }
          }
          .currentMember__items {
             display: flex;
             gap: 16px;
          }
          .currentMember__item {
             display: flex;
             flex-direction: column;
             justify-content: center;
             padding: 8px 16px;
             gap: 4px;
             border: 1px solid #e7e9e9;
             border-radius: 12px;
             &__bottom{
                display: flex;
                gap: 8px;
                align-items: center;
             }
          }
       }
       @media screen and (max-width: 1200px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          &__text {
             justify-content: flex-start;
             gap: 20px;
          }
       }
    }
    .tabs__line__tab{
       width: 100%;
       max-width: none;
       display: flex;
       justify-content: center;
    }
 }


 .notifications {
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    background: #FFFFFF;
    border: 1px solid rgba(19, 31, 30, 0.1);
    box-shadow: 0px 4px 10px rgba(19, 31, 30, 0.1), 1px 2px 2px rgba(19, 31, 30, 0.04);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    scrollbar-color: rgba(119, 119, 119, 0.3) #e2e2e2;
    scrollbar-width: thin;

    @media screen and (max-width: 490px) {
      width: 90vw;
    }
    &::-webkit-scrollbar-track {
       border-radius: 10px;
       background-color: transparent;
    }

    &::-webkit-scrollbar {
       width: 5px;
       background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
       border-radius: 3px;
       box-shadow: inset 0 0 6px rgba(119, 119, 119, 0.3);
       -webkit-box-shadow: inset 0 0 6px rgba(119, 119, 119, 0.3);
       background-color: rgb(226, 226, 226);
    }
    &__bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        &__item{
            display: flex;
            background: #FFFFFF;
            border-radius: 12px;
            padding: 16px;
            gap: 8px;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            align-items: center;
            text-transform: capitalize;
            &__circle{
                background: #F8FAFA;
                border-radius: 28px;
                display: flex;
                align-items: center;
                padding: 10px;
            }
            &__right{
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }
        &__item__active{
         background: #36796F;
        }
    }
 }
